<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<filter>
		<description>
		</description>
		<display-name>AdminFilter</display-name>
		<filter-name>AdminFilter</filter-name>
		<filter-class>filters.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/views/admin/*</url-pattern>
	</filter-mapping>


	<!-- GetUserByIdServlet servlet -->
	<servlet>
		<servlet-name>getUserById</servlet-name>
		<servlet-class>userServlets.GetUserByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getUserById</servlet-name>
		<url-pattern>/getUserById</url-pattern>
	</servlet-mapping>

	<!-- GetAllUsersServlet servlet -->
	<servlet>
		<servlet-name>getAllUsers</servlet-name>
		<servlet-class>userServlets.GetAllUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllUsers</servlet-name>
		<url-pattern>/getAllUsers</url-pattern>
	</servlet-mapping>

	<!-- SaveUserServlet servlet -->
	<servlet>
		<servlet-name>saveUser</servlet-name>
		<servlet-class>userServlets.SaveUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveUser</servlet-name>
		<url-pattern>/saveUser</url-pattern>
	</servlet-mapping>

	<!-- UpdateUserServlet servlet -->
	<servlet>
		<servlet-name>updateUser</servlet-name>
		<servlet-class>userServlets.UpdateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateUser</servlet-name>
		<url-pattern>/updateUser</url-pattern>
	</servlet-mapping>

	<!-- DeleteUserServlet servlet -->
	<servlet>
		<servlet-name>deleteUser</servlet-name>
		<servlet-class>userServlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>





	<!-- GetTourByIdServlet servlet -->
	<servlet>
		<servlet-name>getTourById</servlet-name>
		<servlet-class>tourServlets.GetTourByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getTourById</servlet-name>
		<url-pattern>/getTourById</url-pattern>
	</servlet-mapping>

	<!-- GetAllToursServlet servlet -->
	<servlet>
		<servlet-name>getAllTours</servlet-name>
		<servlet-class>tourServlets.GetAllToursServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllTours</servlet-name>
		<url-pattern>/getAllTours</url-pattern>
	</servlet-mapping>

	<!-- SaveTourServlet servlet -->
	<servlet>
		<servlet-name>saveTour</servlet-name>
		<servlet-class>tourServlets.SaveTourServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveTour</servlet-name>
		<url-pattern>/saveTour</url-pattern>
	</servlet-mapping>

	<!-- UpdateTourServlet servlet -->
	<servlet>
		<servlet-name>updateTour</servlet-name>
		<servlet-class>tourServlets.UpdateTourServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateTour</servlet-name>
		<url-pattern>/updateTour</url-pattern>
	</servlet-mapping>

	<!-- DeleteTourServlet servlet -->
	<servlet>
		<servlet-name>deleteTour</servlet-name>
		<servlet-class>tourServlets.DeleteTourServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteTour</servlet-name>
		<url-pattern>/deleteTour</url-pattern>
	</servlet-mapping>







	<!-- GetRoleByIdServlet servlet -->
	<servlet>
		<servlet-name>getRoleById</servlet-name>
		<servlet-class>roleServlets.GetRoleByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getRoleById</servlet-name>
		<url-pattern>/getRoleById</url-pattern>
	</servlet-mapping>

	<!-- GetAllRolesServlet servlet -->
	<servlet>
		<servlet-name>getAllRoles</servlet-name>
		<servlet-class>roleServlets.GetAllRolesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllRoles</servlet-name>
		<url-pattern>/getAllRoles</url-pattern>
	</servlet-mapping>

	<!-- SaveRoleServlet servlet -->
	<servlet>
		<servlet-name>saveRole</servlet-name>
		<servlet-class>roleServlets.SaveRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveRole</servlet-name>
		<url-pattern>/saveRole</url-pattern>
	</servlet-mapping>

	<!-- UpdateRoleServlet servlet -->
	<servlet>
		<servlet-name>updateRole</servlet-name>
		<servlet-class>roleServlets.UpdateRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateRole</servlet-name>
		<url-pattern>/updateRole</url-pattern>
	</servlet-mapping>

	<!-- DeleteRoleServlet servlet -->
	<servlet>
		<servlet-name>deleteRole</servlet-name>
		<servlet-class>roleServlets.DeleteRoleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteRole</servlet-name>
		<url-pattern>/deleteRole</url-pattern>
	</servlet-mapping>








	<!-- GetTourUserByIdTourAndByIdUserServlet servlet -->
	<servlet>
		<servlet-name>getTourUserByIdTourAndByIdUser</servlet-name>
		<servlet-class>touruserServlets.GetTourUserByIdTourAndByIdUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getTourUserByIdTourAndByIdUser</servlet-name>
		<url-pattern>/getTourUserByIdTourAndByIdUser</url-pattern>
	</servlet-mapping>

	<!-- GetAllToursUsersServlet servlet -->
	<servlet>
		<servlet-name>getAllToursUsers</servlet-name>
		<servlet-class>touruserServlets.GetAllToursUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getAllToursUsers</servlet-name>
		<url-pattern>/getAllToursUsers</url-pattern>
	</servlet-mapping>

	<!-- SaveTourUserServlet servlet -->
	<servlet>
		<servlet-name>saveTourUser</servlet-name>
		<servlet-class>touruserServlets.SaveTourUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>saveTourUser</servlet-name>
		<url-pattern>/saveTourUser</url-pattern>
	</servlet-mapping>

	<!-- UpdateTourUserServlet servlet -->
	<servlet>
		<servlet-name>updateTourUser</servlet-name>
		<servlet-class>touruserServlets.UpdateTourUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateTourUser</servlet-name>
		<url-pattern>/updateTourUser</url-pattern>
	</servlet-mapping>

	<!-- DeleteTourUserServlet servlet -->
	<servlet>
		<servlet-name>deleteTourUser</servlet-name>
		<servlet-class>touruserServlets.DeleteTourUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deleteTourUser</servlet-name>
		<url-pattern>/deleteTourUser</url-pattern>
	</servlet-mapping>





	<!-- LoginServlet servlet -->
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<!-- LogoutServlet servlet -->
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

	<!-- MyAccountServlet servlet -->
	<servlet>
		<servlet-name>MyAccount</servlet-name>
		<servlet-class>servlets.MyAccountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyAccount</servlet-name>
		<url-pattern>/myaccount</url-pattern>
	</servlet-mapping>

	<!-- RegistrationServlet servlet -->
	<servlet>
		<servlet-name>Registration</servlet-name>
		<servlet-class>servlets.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Registration</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>








	<!-- EditTourServlet servlet -->
	<servlet>
		<servlet-name>EditTour</servlet-name>
		<servlet-class>servletsAdmin.EditTourServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTour</servlet-name>
		<url-pattern>/editTour</url-pattern>
	</servlet-mapping>
	
	<!-- AdminServlet servlet -->
    <servlet>
        <servlet-name>AdminPage</servlet-name>
        <servlet-class>servletsAdmin.AdminServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminPage</servlet-name>
        <url-pattern>/adminPage</url-pattern>
    </servlet-mapping>



	<!-- UsersListServlet servlet -->
	<servlet>
		<servlet-name>UsersList</servlet-name>
		<servlet-class>servlets.UsersListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersList</servlet-name>
		<url-pattern>/usersList</url-pattern>
	</servlet-mapping>
	
	<!--По истечении 15 мин сессия прекращается (как в банке) -->
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>

